@model IEnumerable<Aruuz.Models.Poetry>
@using Aruuz.Models
@using System.Web.Optimization
@{
    ViewBag.Title = "مشہور اردو شعراء کے کلام کی تقطیع";
    Layout = "~/Views/Shared/_Layout.BootstrapEditorTemplates.cshtml";

    int rowId = 0;
    string type = "";

}

<script type="text/javascript">
    $(document).ready(function () {
        var heights = $(".content-panel").map(function () {
            return $(this).height();
        }).get(),

        maxHeight = Math.max.apply(null, heights);

        $(".content-panel").height(maxHeight);
    });
</script>

<style scoped>
    .white {
        color: #00ff21;
    }
    /*.container {
        display: table;
    }

    .row {
        display: table-row;
    }

    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }*/
</style>

<div>
    <div class="container" dir="rtl">
        <ol class="breadcrumb urdu">
            <li><a href="/examples">منتخب کلام</a></li>
        </ol>
        <div class="row" id="contentDiv">
            <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <img src="~/icons/examples.png" width="50" height="50" class="pull-left">
                        <p class="urdu-huge">منتخب کلام</p>
                        <p class="urdu-large">مشہور شعراء کا منتخب کلام بحر و عروض کی مکمل معلومات سمیت</p>
                        @*<a class="btn btn-lg btn-default" href="/examples/filter"><span class="glyphicon glyphicon-filter"></span><span class="glyphicon glyphicon-plus"></span></a>*@
                        @*<div class="pull-right">
                                <p>
                                    مدیران:<a class="white" href="https://www.facebook.com/usamasarsari"> محمد اسامہ سرسریؔ</a> ،<a class="white" href="https://www.facebook.com/syedmohammadmehdinaqvi"> مہدی نقوی حجازؔ  </a> ، <a href="https://www.facebook.com/OurUrduPoetries" class="white">، ابن رضاؔ</a>
                                </p>
                            </div>*@

                    </div>
                    <div class="panel-body" style="background-color:#e8e8e8; border: 0px solid lightgray">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            @foreach (var m in Model)
                            {
                                string id_panel = "";
                                id_panel = rowId.ToString();
                                string url1 = "/taqti/poetry/" + (m.id - 65536).ToString();
                                string url2 = "/examples/poetry/" + (m.id - 65536).ToString();
                                if (rowId % 3 == 0)
                                {
                                    @Html.Raw("<div class='row'>");
                                }
                                rowId = rowId + 1;
                                if (m.type.Equals("غزل"))
                                {
                                    type = "label-primary";

                                }
                                else if (m.type.Equals("نظم"))
                                {
                                    type = "label-danger";
                                }
                                else if (m.type.Equals("آزاد نظم"))
                                {
                                    type = "label-success";
                                }
                                else if (m.type.Equals("رباعی"))
                                {
                                    type = "label-info";
                                }
                                else if (m.type.Equals("شعر"))
                                {
                                    type = "label-default";
                                }
                                else if (m.type.Equals("قطعہ"))
                                {
                                    type = "label-warning";
                                }


                                <div class="col col-lg-4 col-md-4 col-sm-6">
                                    <div class="panel panel-default" id="@id_panel">
                                        <div class="panel-body content-panel" style="padding-left:0; padding-right:0; ">
                                            <a href="#"><span class="label @type urdu-naskh pull-left" style="font-size:small">@m.type</span></a>

                                            <span class="glyphicon glyphicon-new-window"></span>
                                            <a href="@url2" class="urdu-sp">  @m.title</a>


                                            @{
                                char[] delimiters = new[] { ',', '،' };  // List of delimiters
                                var subStrings = m.meters.Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
                                var flag = false;
                                <p class="urdu-small" style="text-align: right; color:gray">
                                    @foreach (var v in subStrings)
                                    {
                                        if (!String.IsNullOrWhiteSpace(v))
                                        {
                                            if (flag)
                                            {
                                                @Html.Raw("/");
                                            }
                                            else
                                            {

                                                flag = true;
                                            }
                                            <span> @v </span>
                                        }
                                    }
                                </p>
                                    delimiters = new[] { '\n' };  // List of delimiters
                                    subStrings = m.text.Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
                                    int id = 0;
                                            }

                                            <hr style="width: 100%">

                                            <div style="text-align:center">
                                                @foreach (var v in subStrings)
                                                {
                                                    if (!String.IsNullOrWhiteSpace(v))
                                                    {
                                                        if (id < 4)
                                                        {
                                                            @Html.Label(v, new { @class = "urdu-medium" });
                                                    <br>
                                                        }
                                                        else
                                                        {
                                                            string s = "۔۔۔۔۔۔۔";
                                                            <a href="@url2">
                                                                @s
                                                            </a>
                                                            break;
                                                        }
                                                        id = id + 1;
                                                    }
                                                }

                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="btn btn-sm btn-default" href="@url1" data-toggle="popover" data-content="تقطیع کرنے کے لئے یہاں کلک کریں" data-title="ہدایات"><span class="glyphicon glyphicon-transfer"> </span></a>
                                            <a class="btn btn-sm btn-default" href="@url2" data-toggle="popover" data-content="کلام کا مطالعہ کرنے کے لئے یہاں کلک کریں" data-title="ہدایات"><span class="glyphicon glyphicon-eye-open"> </span></a>

                                            <a href="@url2#comments" class="btn btn-sm btn-default">
                                                <span class="glyphicon glyphicon-comment danger"></span>
                                            </a>
                                            <a href="/examples/poetry/@m.id#disqus_thread"></a>
                                            <a class="urdu" href="/examples/poets?poet=@m.poet" style="float:left; display:inline-block">
                                                @m.poet

                                            </a>
                                        </div>
                                    </div>

                                </div>


                                if (rowId % 3 == 0)
                                {
                                    @Html.Raw("</div>");
                                }

                            }


                        </div>


                    </div>
                    <div class="panel-footer">
                        @{
                            Pagination pg = new Pagination();
                            pg.currentPage = Model.First().currentPage;
                            pg.maxPages = Model.First().maxpages;
                            pg.baseUrl = "/examples/index";
                            @Html.Partial("_Pagination", pg);
                        }
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46123045-1', 'aruuz.com');
    ga('send', 'pageview');

</script>
