@model Aruuz.Models.Poetry
@using Aruuz.Models
@{
    ViewBag.Title = Model.title + " - " + Model.poet + " - " + Model.meters.Replace(",", " - ").Replace("،", " - ") + " - " + Model.type;
    Layout = "~/Views/Shared/_Layout.BootstrapEditorTemplates.cshtml";
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=202167263310439";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<style scoped>
    .highlightme {
        background-color: #FFFF00;
    }

    .white {
        color: #00ff21;
    }

    .fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
        width: 100% !important;
    }

    .justifyme td {
        text-align: justify;
    }

        .justifyme td::after {
            content: "";
            display: inline-block;
            width: 100%;
        }
</style>
@section meta{
    <meta name="description" content="Free Articles on Poetry">
    <meta name="description" content="اردو شعرا کلام">
    <meta name="author" content="@Model.poet">
    <meta property="fb:admins" content="sayedzeeshan.asghar" />
    <meta property="fb:app_id" content="202167263310439" />
    <meta property="og:type" content="aruuztaqti:poetry" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content="/images/aruuz3.jpg" />
    <meta property="og:description" content="@Model.text">
}
@{ bool isChecked = false;
   string id1 = "poetrypanel";
   string id2 = "poetrypanel2";}
@if (Model.type.Equals("آزاد نظم"))
{
    isChecked = true;
    id1 = "normalpanel";
    id2 = "normalpanel2";
}
<input value="@Model.id" class="hidden" id="poetryID" />

<div class="container" dir="rtl" id="contOne">
    <ol class="breadcrumb urdu">
        <li><a href="/examples">منتخب کلام</a></li>
        <li><a href="/examples/poets?poet=@Model.poet">@Model.poet</a></li>
    </ol>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="toggleHref('1')">
                            <span class="glyphicon glyphicon-minus-sign white" id="hrefOne">
                            </span>
                        </a>
                        <img src="~/icons/examples.png" width="50" height="50" class="pull-left">

                        <div class="urdu-huge">

                            @Model.title (@Model.type)


                        </div>
                        <div class="urdu-large">از @Html.ActionLink(Model.poet, "Poets", "Examples", new { poet = Model.poet }, new { @class = "white" })</div>
                        <div>
                            @{
                                string url = "/taqti/poetry/" + (Model.id - 65536).ToString();
                                string url2 = "http://aruuz.com/examples/poetry/" + (Model.id - 65536).ToString();
                            <div class="pull-left">

                                @*<a class="btn btn-lg btn-success pull-left" href="@url" data-toggle="tooltip" data-placement="left" title="تقطیع کا بٹن"><span class="glyphicon glyphicon-transfer"> </span></a>
                                    <a class="btn btn-lg btn-default pull-left" href="#" onclick="textCopy()" data-toggle="tooltip" data-placement="left" title="کلام کاپی کرنے کا بٹن"><span class="glyphicon glyphicon-floppy-save"> </span></a>*@
                                <div class="fb-share-button" data-href="@url2" data-type="button_count"></div>
                            </div>


                            }
                        </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body urdu hidden-xs" id="@id1">
                            @{
                                List<string> verses = new List<string>();

                                char[] delimiters = new[] { '\n' };  // List of delimiters
                                var subStrings = Model.text.Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
                                int id = 0;

                                foreach (var m in subStrings)
                                {
                                    if (!String.IsNullOrWhiteSpace(m))
                                    {
                                        verses.Add(m.Trim());
                                    }
                                }

                                string alignment = "center-align";
                                if (isChecked)
                                {
                                    alignment = "right-align";

                                }

                            <table class="table urdu-large table-responsive table-hover table-condensed @alignment" id="poetrytable">

                                @foreach (var m in verses)
                                    {

                                        if (!String.IsNullOrEmpty(Model.searchString))
                                        {

                                    <tr id="@id.ToString()" ondblclick="rowTaqti('@id','@Model.meters','@isChecked.ToString()')"><td class="@alignment data"><span class="check2">@Html.Raw(@m.Replace(@Model.searchString, "<span class='highlightme'>" + @Model.searchString + "</span>"))</span></td></tr>
                                        }
                                        else
                                        {
                                    <tr id="@id.ToString()" ondblclick="rowTaqti('@id','@Model.meters','@isChecked.ToString()')"><td class="data @alignment"><span class="check2"> @m </span></td></tr>

                                        }
                                        id++;
                                    }
                            </table>

                            }

                        </div>
                        <div class="panel-body urdu visible-xs" id="@id2">
                            @{
                                verses = new List<string>();

                                delimiters = new[] { '\n' };  // List of delimiters
                                subStrings = Model.text.Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
                                 id = 0;

                                foreach (var m in subStrings)
                                {
                                    if (!String.IsNullOrWhiteSpace(m))
                                    {
                                        verses.Add(m.Trim());
                                    }
                                }

                                alignment = "center-align";
                                if (isChecked)
                                {
                                    alignment = "right-align";

                                }

                                <table class="table urdu-medium table-hover table-condensed @alignment" id="poetrytable2">

                                    @foreach (var m in verses)
                                    {

                                        if (!String.IsNullOrEmpty(Model.searchString))
                                        {

                                            <tr id="@id.ToString()" ondblclick="rowTaqti('@id','@Model.meters','@isChecked.ToString()')"><td class="@alignment data2"><span class="check">@Html.Raw(@m.Replace(@Model.searchString, "<span class='highlightme'>" + @Model.searchString + "</span>"))</span></td></tr>
                                        }
                                        else
                                        {
                                            <tr id="@id.ToString()" ondblclick="rowTaqti('@id','@Model.meters','@isChecked.ToString()')"><td class="data2 @alignment"><span class="check"> @m </span></td></tr>

                                        }
                                        id++;
                                    }
                                </table>

                            }

                        </div>

                        <div class="panel-footer panel-info urdu">
                            <table class="table table-striped">


                                @{

                                    delimiters = new[] { ',', '،' };  // List of delimiters
                                    subStrings = Model.meters.Split(delimiters, StringSplitOptions.RemoveEmptyEntries);
                                    int meterID = 0;
                                    foreach (var m in subStrings)
                                    {
                                        if (!String.IsNullOrWhiteSpace(m))
                                        {
                                            List<int> lst = Meters.meterIndex(m.Trim());
                                            List<string> afail = new List<string>();

                                            foreach (var k in lst)
                                            {
                                                if (Meters.usage[k] == 0)
                                                {
                                                    afail.Add(Meters.Afail(Meters.meters[k]) + " (غیر مستعمل وزن)");
                                                }
                                                else
                                                {
                                                    afail.Add(Meters.Afail(Meters.meters[k]));
                                                }

                                            }
                                            if (afail.Count() > 0)
                                            {

                                                foreach (var t in afail)
                                                {
                                                    <tr>
                                                        <td colspan="3">

                                                            @Html.ActionLink(m, "Meters", "Examples", new { meter = m.Replace("/", "_") }, null)
                                                            <br>
                                                            <span class="urdu-large">@t</span>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        @m
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            }
                                        }
                                        meterID = meterID + 1;
                                    }


                                }
                            </table>
                            <hr>
                        </div>

                        </div>


                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="white" onclick="taqtiPoetry('@Model.id')">
                            <span class="glyphicon glyphicon-plus-sign white" id="hrefTwo">
                            </span>
                        </a>

                        <div class="urdu-huge">
                            اشعار کی تقطیع
                        </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="taqtiDiv">
                                <img src="/icons/ajax-loader2.gif" class="center-align">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading urdu-large">
                    <a name="comments">                        </a>


                    تبصرے
                    <div>
                        <div class="panel-body">
                            @{
                                    string url3 = "http://www.aruuz.com" + Request.RawUrl;

                                @*<div class="fb-comments img-responsive" data-href="@url3" data-width="900" data-numposts="15" data-colorscheme="light"></div>*@
                                <div id="disqus_thread"></div>
                                <script type="text/javascript">
                                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                        var disqus_shortname = 'aruuz'; // required: replace example with your forum shortname

                                        /* * * DON'T EDIT BELOW THIS LINE * * */
                                        (function () {
                                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                        })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                            }
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade urdu" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header active">
                <h4 class="modal-title urdu-large" id="modalLabel">ٹیکسٹ کاپی کریں</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" id="modal-button" onclick="modalButtonClicked()">
                    <p id="button-label">
                        بند کریں
                    </p>
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-46123045-1', 'aruuz.com');
    ga('send', 'pageview');

</script>